*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: #bfadad;
    border: black solid 1px;
}
.logoSize{
    width: 5rem;
    height: auto;
}
h1{
    font-size: x-small;
    color: #bfadad;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contacto{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tu_moto{
    display: flex;
    justify-content: center;
    text-align: center;
}
.formulario{
    border: #bfadad solid 2px;
    box-shadow: 2px 3px rgb(152, 63, 63, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nosotros img{
    height: 25rem;
    border: gray double 2px;
    border-radius: 10px;
}
.nosotros{
    background-color: #f1ebeb;
    display:flex;
    justify-content: right;
    text-align: left;
    flex-direction: row;
    gap: 1rem;
    text-wrap: wrap;
}
.comienzo img{
    height: 25rem;
    border: gray double 2px;
    border-radius: 10px;
}
.comienzo{
    background-color: #f1ebeb;
    display:flex;
    justify-content: right;
    text-align: right;
    flex-direction: row-reverse;
    gap: 1rem;
    text-wrap: wrap;
}
.futuro img{
    height: 25rem;
    border: gray double 2px;
    border-radius: 10px;
}
.futuro{
    background-color: #f1ebeb;
    display:flex;
    justify-content: right;
    text-align: left;
    flex-direction: row;
    gap: 1rem;
    text-wrap: wrap;
}
footer{
    background-color: #bfadad;
    border: black solid 1px;
}