.form-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
    flex-flow: column;
    flex-wrap: wrap;
    color: $celeste;
}
.form-group-c{
    position: relative;
    margin: 12px 0;
    padding: 10px;
}
.form-comentario-c{
    position: relative;
    margin: 12px 0;
    padding: 10px;
}
.form-group-c input {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: black solid 2px;
    background-color: transparent;
    color: $celeste;
    transition: 0.15s all ease;
}
.form-comentario-c textarea{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: black solid 2px;
    background-color: transparent;
    color: $celeste;
    transition: 0.15s all ease;
}
.form-group-c input:focus{
    border-color: $mirage;
}
.form-comentario-c textarea:focus{
    border-color: $mirage;
}
.form-group-c input::placeholder{
    color: transparent;
}
.form-comentario-c textarea::placeholder{
    color: transparent;
}
.form-group-c .form-label-c{
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 18px;
    padding: 0 20px;
    color: $celeste;
    pointer-events: none;
    transition: 0.15s all ease;
}
.form-comentario-c .form-label-c{
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 18px;
    padding: 0 20px;
    color: $celeste;
    pointer-events: none;
    transition: 0.15s all ease;
}
.form-group-c input:focus + .form-label-c,
.form-group-c input:not(:placeholder-shown) +
.form-label-c {
    transform: translate(5px, -22px);
    background-color: $au-chico;
    font-size: 14px;
    color: $celeste;
    border-radius: 50px;
}
.form-comentario-c textarea:focus + .form-label-c,
.form-comentario-c textarea:not(:placeholder-shown) +
.form-label-c {
    transform: translate(5px, -22px);
    background-color: $au-chico;
    font-size: 14px;
    color: $celeste;
    border-radius: 100%;
}
.contacto-enviar {
    display: none;
}
.contacto-enviar-nuevo {
    display: inline-block;
    padding: 10px 20px;
    background-color: $roof_terracotta;
    color: $celeste;
    cursor: pointer;
    border-radius: 5px;
}
.contacto-enviar-nuevo:hover{
    background-color: aquamarine;
    color: $mirage;
    transform: rotateX(360deg);
    transition: 1s all ease-in-out;
}