/*Estilo del footer*/
/*Se le da formato al footer, se reordenan los elementos y se le da colores*/
footer{
    background-color: $mirage;
    border: black solid 1px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;  
    grid-template-areas: 
      "contacto . ."
      "telefono . iconos"
      "email . iconos"
      "direccion . .";
      /*Se ordena la version movil del footer*/
    @media (max-width:480px){
            display: grid;
            grid-template-columns: auto; 
            grid-template-rows: repeat(5, 1fr); 
            grid-template-areas:
            "iconos"
            "contacto"
            "telefono"
            "email"
            "direccion";
    }
    /*Formato para el boton de contacto*/
      .contacto {
        grid-area: contacto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a{
            text-decoration: none;
            padding: 10px;
            color: $mirage;
            background-color: $celeste;
            border-radius: 20px;
        }
        a:hover{
            color: black;
        }
    }
    /*formato para el telefono*/
    .telefono{
        grid-area: telefono;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*formato para el email*/
    .email {
        grid-area: email;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*formato para la direccion*/
    .direccion {
        grid-area: direccion;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*formato para los iconos de redes*/
    .iconos {
        grid-area: iconos;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        /*ajuste de la ubicacion de los elementos de la lista*/
        .lista{
            list-style: none;
            font-size: 23px;
            border-radius: 50%;
            height: 55px;
            width: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .icon{
            transition: 0.6s;
        }
        .lista{
            transition: 0.4s;
            transition-delay: 0.2s;
        }
        /*formato del logo de instagram*/
        .instagram{
            border: 2px solid #ff0095;
        }
        .lista:hover .icon1{
            transform: rotateY(360deg);
        }
        /*formato del logo de X (ex twitter)*/
        .twitter{
            border: 2px solid #1c9ff1;
        }
        .lista:hover .icon2{
            transform: rotateY(360deg);
        }
        /*formato del logo de youtube*/
        .youtube{
            border: 2px solid #ff0000;
        }
        .lista:hover .icon3{
            transform: rotateY(360deg);
        }
        /*formato del logo de facebook*/
        .facebook{
            border: 2px solid #0679e6;
        }
        .lista:hover .icon4{
            transform: rotateY(360deg);
        }
        /*formato del borde de los logos cuando se posiciona el puntero sobre ellos*/
        .instagram:hover{
            box-shadow: 0px 0px 10px #ff0095 inset,
                        0px 0px 10px #ff0095;
        }
        .twitter:hover{
            box-shadow: 0px 0px 10px #1c9ff1 inset,
                        0px 0px 10px #1c9ff1;
        }
        .youtube:hover{
            box-shadow: 0px 0px 10px #ff0000 inset,
                        0px 0px 10px #ff0000;
        }
        .facebook:hover{
            box-shadow: 0px 0px 10px #0679e6 inset,
                        0px 0px 10px #0679e6;
        }
    }
  }














