/*Estilo para el header*/
/*Se ajustan los componentes del header, se le da formato y color*/
.menu{
    padding: 10px;
    background-color: $mirage;
    border: black solid 1px;
    color: $mirage;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Se ajusta el logo y se lo configura para la version movil*/
.logoSize{
    width: 6rem;
    height: auto;
    @media (max-width:480px){
     width: 3rem;   
    }
}
h1{
    font-size: x-small;
    color: #bfadad;
}
nav{
    background-color: $celeste;
    border-radius: 50% 5% 50% 5%;
}