/*Estilo del index*/
.tamaño-carrusel{
    padding: 10px;
    width: 50%;
}

@media (max-width:480px){
    .tamaño-carrusel{
        width: 100%;
    }
    .fondo h5{
        font-size: x-small;
    }
    .fondo p{
        font-size: x-small;
    }
}

.fondo{
    background-color: $au-chico;
    opacity: 0.4;
    border-radius: 20px;
}
.fondo:hover{
    transition: 0.2s all;
    background-color: $roof_terracotta;
    opacity: 0.9;
    color: $celeste;
}