.form-moto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-flow: column;
}
.form-group{
    position: relative;
    margin: 12px 0;
    padding: 10px;
}
.form-comentario{
    position: relative;
    margin: 12px 0;
    padding: 10px;
}
.form-group input {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: black solid 2px;
    background-color: transparent;
    color: $mirage;
    transition: 0.15s all ease;
}
.form-comentario textarea{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: black solid 2px;
    background-color: transparent;
    color: $mirage;
    transition: 0.15s all ease;
}
.form-group input:focus{
    border-color: $mirage;
}
.form-comentario textarea:focus{
    border-color: $mirage;
}
.form-group input::placeholder{
    color: transparent;
}
.form-comentario textarea::placeholder{
    color: transparent;
}
.form-group .form-label{
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 18px;
    padding: 0 20px;
    color: $mirage;
    pointer-events: none;
    transition: 0.15s all ease;
}
.form-comentario .form-label{
    position: absolute;
    top: 19px;
    left: 0;
    font-size: 18px;
    padding: 0 20px;
    color: $mirage;
    pointer-events: none;
    transition: 0.15s all ease;
}
.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) +
.form-label {
    transform: translate(5px, -22px);
    background-color: $au-chico;
    font-size: 14px;
    color: $mirage;
    border-radius: 100%;
}
.form-comentario textarea:focus + .form-label,
.form-comentario textarea:not(:placeholder-shown) +
.form-label {
    transform: translate(5px, -22px);
    background-color: $au-chico;
    font-size: 14px;
    color: $mirage;
    border-radius: 100%;
}