/*ordenamiento de los elementos*/
.artuclos{
    display: flex;
    flex-direction: column;
}
/*ordenamiento de los contenidos titulo y texto*/
.moto-contenido{
    padding: 10px;
    background-color: $celeste;
    border: $mirage double 2px;
    border-radius: 0px;
    /*formato del titulo*/
    h3{
        background-color: $roof_terracotta;
        padding-left: 10px;
        border-radius: 5px;
        color: $celeste;
    }
    /*formato del contenido*/
    p{
        display: flex;
        flex-wrap: wrap;
        color: $mirage;
    }
}
/*formato de las imagenes*/
.moto-articulo{
    img{
        width: 25%;
        border-top: $mirage double 2px;
        border-bottom: $mirage double 2px;
        border-left: $mirage double 2px;
    }
    padding: 10px;
    display: flex;
}
/*adaptacion de los elementos para version movil*/
@media (max-width:1080px){
    .moto-articulo img{
        width: 50%;
        border: $mirage double 2px;
        border-radius: 5px;
    }
    .moto-articulo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moto-contenido{
        border-radius: 5px;
    }
}
